
<div style="width:50%; margin:auto;">
	<div style="margin:50px;">
		<a href="status">Update status</a>
		<h2 >Worker Information</h2>
		<table >
			<tr>
				<td width='110px'>State</td>
				<td width='110px'>Processing File</td>
				<td width='110px'>Progress</td>
				<td width='110px'>In Function</td>
				<td width='110px'>Parsed Tweets</td>
			</tr>
			<tr>
				<td>{{info['state']}}</td>
				<td>{{info['tweet_file']}}</td>
				<td>{{info['progress']}}%</td>
				<td>{{info['function']}}</td>
				<td>{{info['tweets']}}</td>
			</tr>
		</table>
	</div>

	<div style="margin:50px;">
		<h2> 
		{% if info['progress'] < 100  %}
  			Current
		{% endif %}
			Result
		</h2>
		<table>
			<tr>
				<td width='110px'>Han</td>
				<td width='110px'>Hon</td>
				<td width='110px'>Det</td>
				<td width='110px'>Denne</td>
				<td width='110px'>Den</td>
				<td width='110px'>Denna</td>
				<td width='110px'>Hen</td>
				<td width='110px'>Total</td>
			</tr>
			<tr>
				<td width='110px'>{{info['han']}}</td>
				<td width='110px'>{{info['hon']}}</td>
				<td width='110px'>{{info['det']}}</td>
				<td width='110px'>{{info['denne']}}</td>
				<td width='110px'>{{info['den']}}</td>
				<td width='110px'>{{info['denna']}}</td>
				<td width='110px'>{{info['hen']}}</td>
				<td width='110px'>{{info['total']}}</td>
			</tr>
			<tr>
				<td width='110px'>{{info['han%']}}%</td>
				<td width='110px'>{{info['hon%']}}%</td>
				<td width='110px'>{{info['det%']}}%</td>
				<td width='110px'>{{info['denne%']}}%</td>
				<td width='110px'>{{info['den%']}}%</td>
				<td width='110px'>{{info['denna%']}}%</td>
				<td width='110px'>{{info['hen%']}}%</td>
				<td width='110px'>100%</td>
			</tr>
		<table>
	</div>
		


	<div style="width:440px;height:350px;position:relative;background-color:#ffffff;margin:auto; margin-top:50px;" >
		<h2> 
			Visualisation of 
		{% if info['progress'] < 100  %}
  			Current</h1>
		{% endif %}
			Result
		</h2>
		<div style="position:absolute;width:50px;height:{{info['han%']*5+80}}px; bottom:0; margin-left:10">
			<p style="position:inherit; text-align:center; width:100%;">{{info['han']}}</p>
			<div style="width:50px; height:{{info['han%']*5}}px; position:inherit; bottom:40;background-color:#ffeeee;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Han</p>
		</div>
		
		<div style="position:absolute;width:50px;height:{{info['hon%']*5+80}}px; bottom:0; margin-left:70">
			<p style="position:inherit; text-align:center; width:100%;">{{info['hon']}}</p>
			<div style="width:50px; height:{{info['hon%']*5}}px; position:inherit; bottom:40;background-color:#eeffee;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Hon</p>
		</div>

		<div style="position:absolute;width:50px;height:{{info['det%']*5+80}}px; bottom:0; margin-left:130">
			<p style="position:inherit; text-align:center; width:100%;">{{info['det']}}</p>
			<div style="width:50px; height:{{info['det%']*5}}px; position:inherit; bottom:40;background-color:#eeeeff;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Det</p>
		</div>

		<div style="position:absolute;width:50px;height:{{info['denne%']*5+80}}px; bottom:0; margin-left:190">
			<p style="position:inherit; text-align:center; width:100%;">{{info['denne']}}</p>
			<div style="width:50px; height:{{info['denne%']*5}}px; position:inherit; bottom:40;background-color:#ffffee;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Denne</p>
		</div>

		<div style="position:absolute;width:50px;height:{{info['den%']*5+80}}px; bottom:0; margin-left:250">
			<p style="position:inherit; text-align:center; width:100%;">{{info['den']}}</p>
			<div style="width:50px; height:{{info['den%']*5}}px; position:inherit; bottom:40;background-color:#ffeeff;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Den</p>
		</div>

		<div style="position:absolute;width:50px;height:{{info['denna%']*5+80}}px; bottom:0; margin-left:310">
			<p style="position:inherit; text-align:center; width:100%;">{{info['denna']}}</p>
			<div style="width:50px; height:{{info['denna%']*5}}px; position:inherit; bottom:40;background-color:#eeffff;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Denna</p>
		</div>

		<div style="position:absolute;width:50px;height:{{info['hen%']*5+80}}px; bottom:0; margin-left:370">
			<p style="position:inherit; text-align:center; width:100%;">{{info['hen']}}</p>
			<div style="width:50px; height:{{info['hen%']*5}}px; position:inherit; bottom:40;background-color:#ffdddd;">
			</div>		
			<p style="bottom:0;position:inherit;text-align:center; width:100%;">Hen</p>
		</div>
	</div>

</div>
